<div class="mobile-sticky-cta lg:hidden">
  <a href="/contacto" class="btn btn-primary flex-1 justify-center">
    Coordinar visita
  </a>
  <a
    href="https://wa.me/549XXXXXXXXXX"
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-outline flex-1 justify-center bg-white"
  >
    WhatsApp
  </a>
</div>